#buttonChange {
    background-color: white;
    color: rgb(165, 100, 45);
    border: rgb(173, 177, 255);
     
    font-size: larger;
    cursor: pointer;
}
#themeSelect{
    background-color: white;
    color: rgb(164, 100, 47);
    border: rgb(120, 39, 39);
    font-size: large;
    cursor: pointer;
}

#buttonChange:hover{
    background-color: dimgrey;
}

#themeSelect:hover{
    background-color: dimgrey;
}
