/*Header to make change*/
#principal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #f5efe7;
    padding: 1rem 2rem;
}

#principal_title {
    font-size: 40px;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: #2a2a2a;
}

#login_button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #2a2a2a;
}

#login_button:hover {
    text-decoration: underline;
}

#principal_menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}
#image_header{
    height: 40px;
    width: 40px;
    display: none;
    background-color: transparent;
    border-radius: 50%;
}