/*Icon view*/
#icon_menu {
   display: inline-block;
    width: 50px;
    height: 35px;
    background-image: url("../../asset/icons/principal_menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#login_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
    background-image: url("../../asset/icons/user.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#legenda {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
    background-color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #666;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#legenda.active{
    display: flex;
}

#legenda:hover {
    background-color: #f0f0f0;
    transform: rotate(90deg);
}
