/*Image view*/
#post_photos {
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: transparent;
}

#post_photos img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
