/*Slider Bar view*/
.sidebar { 
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #22222237;
    backdrop-filter: blur(10px);
    color: white;
    transition: left 0.3s ease;
    padding-top: 60px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

/* ACTIVE = abrir/cerrar el menú (animación) */
.sidebar.active {
    left: 0;
}

/* VISIBLE = mostrar/ocultar el elemento completamente */
.sidebar.hidden {
    display: none !important;
}

.sidebar.hidden.visible {
    display: block !important;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s;
}

.close-btn:hover {
    opacity: 0.7;
}

.close-btn.hidden {
    display: none !important;
}

.close-btn.hidden.visible {
    display: block !important;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list.hidden {
    display: none !important;
}

.menu-list.hidden.visible {
    display: block !important;
}

.menu-list li {
    margin: 20px 0;
}

.menu-list a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu-list a:hover {
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
}

.overlay.active {
    display: block;
}

/* Modal */
.modal_post {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal_post.show {
    display: flex !important;
}